body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  min-height:200vh;
	background: rgb(244,187,155);
	background: linear-gradient(rgba(244,187,155,0.5), rgba(255,175,163,0.5), rgba(232,90,125,0.3), rgba(230,72,72,0.3), rgba(244,128,65,0.3), rgba(243,164,69,0.3));
	border:10px solid black;
	border-image-slice:1;
	border-image-source: linear-gradient(rgba(244,187,155,1), rgba(255,175,163,1), rgba(232,90,125,1), rgba(230,72,72,1), rgba(244,128,65,1), rgba(243,164,69,1));

}

.banner {
  display: flex;
  align-items: center;
  background-color: palevioletred;
  padding-top: 5px;
  width: 100%;
  height: 50px;
}

#banner1 {
  margin: 0 0 0 100px; 
}

#banner2 {
  margin: 0 25px; 
}

#text {
  font-weight: normal;
}


