body{
    min-height:200vh;
    background: rgb(244,187,155);
    background: linear-gradient(rgba(244,187,155,0.3), rgba(255,175,163,0.3), rgba(232,90,125,0.2), rgba(230,72,72,0.2), rgba(244,128,65,0.2), rgba(243,164,69,0.2));
    border:10px solid;
    border-image-slice:1;
    border-image-source: linear-gradient(rgba(244,187,155,1), rgba(255,175,163,1), rgba(232,90,125,1), rgba(230,72,72,1), rgba(244,128,65,1), rgba(243,164,69,1));
    margin:0;
}
p,a,button{
    font-family:"PT Serif", Georgia, 'Times New Roman', Times, serif;
}
h1,h2,h3{
    font-family:"Rambla", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px auto auto 20px;
    text-align:center;
}
h2, h3{
    font-family:"Mako",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar{
    list-style-type:none;
    margin:0;
    padding:0;

    position:absolute;
    top:0;
    left:0;

    background-color:#e64848;
    width:100vw;

    display: flex;
    justify-content: space-between;
    
}
.nav{
    color:white; /*delete*/
    font-size:24px;
}
.nav>a{
    color:white;
    text-decoration:none;
}
.nav.quote{
    flex-grow: 1;
    text-align:center;
}
.nav.click:hover{
    background-color:rgb(244,187,155);
}
.menuButton {
    display: none;
    background-color: #e64848;
    border: none;
    color: white;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
}


/*resize when nav bar is completed*/
@media only screen and (min-width:812px){
    .navBar{
        position:fixed;
    }
    .nav{
        padding:12px;
    }
}
@media only screen and (max-width:811px){
    .navBar {
        flex-direction: column;
        height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;
    }
    .nav {
        display:block;
        text-align: center;
        padding: 10px;
    }
    .nav:not(.click){
        display:none;
    }
    .menuButton {
        display: block;
        position: fixed;
        top:0;
        right:0;
    }
    .navContainer.open .navBar {
        height:auto;
        margin:0;
        padding:0;
        position:fixed;
    }
}